<% provide(:title, @taxon.name) %>
<div class="main-wrapper">
  <!-- NAVBAR -->
  <%= render 'collapse' %>
  <!-- LIGHT SECTION -->
  <%= render 'light_section', taxon: @taxon %>
  <!-- MAIN CONTENT SECTION -->
  <section class="mainContent clearfix productsContent">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
          <%= render 'product_category', taxonomies: @taxonomies %>
        </div>
        <div class="col-md-9 col-sm-8 col-xs-12">
          <%= render 'filter_area' %>
          <div class="row">
            <%= render partial: 'product_box', collection: @products, as: "product" %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%= render 'related_products' %>
</div>
